*.pyc
*.db
*~
.*
*.py.bak

dev_requirements.txt

/epay/
/site/
/htmlcov/
/coverage/
/build/
/dist/
/*.egg-info/
/env/
MANIFEST
coverage.*

!.github
!.gitignore
!.pre-commit-config.yaml

tests/*_cards.py
